.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

[data-theme="dark"] .loading-screen {
  background: #1a1a1a;
}

.snowflakes {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 1px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 5s, 2s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake img {
  display: block;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Layer 1 - First wave (CDs 1-10) - Start immediately with random delays */
.snowflake:nth-of-type(1) {
  left: 2%;
  animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(2) {
  left: 8%;
  animation-delay: 0.3s, 0.2s;
}

.snowflake:nth-of-type(3) {
  left: 15%;
  animation-delay: 0.1s, 0.4s;
}

.snowflake:nth-of-type(4) {
  left: 22%;
  animation-delay: 0.5s, 0.1s;
}

.snowflake:nth-of-type(5) {
  left: 28%;
  animation-delay: 0.2s, 0.3s;
}

.snowflake:nth-of-type(6) {
  left: 35%;
  animation-delay: 0.4s, 0.5s;
}

.snowflake:nth-of-type(7) {
  left: 42%;
  animation-delay: 0.1s, 0.2s;
}

.snowflake:nth-of-type(8) {
  left: 48%;
  animation-delay: 0.6s, 0.3s;
}

.snowflake:nth-of-type(9) {
  left: 55%;
  animation-delay: 0.2s, 0.4s;
}

.snowflake:nth-of-type(10) {
  left: 62%;
  animation-delay: 0.4s, 0.1s;
}

/* Layer 2 - Second wave (CDs 11-20) - Start after 2s with random delays */
.snowflake:nth-of-type(11) {
  left: 68%;
  animation-delay: 2.2s, 2.1s;
}

.snowflake:nth-of-type(12) {
  left: 75%;
  animation-delay: 2.5s, 2.3s;
}

.snowflake:nth-of-type(13) {
  left: 82%;
  animation-delay: 2.1s, 2.5s;
}

.snowflake:nth-of-type(14) {
  left: 88%;
  animation-delay: 2.7s, 2.2s;
}

.snowflake:nth-of-type(15) {
  left: 5%;
  animation-delay: 2.3s, 2.4s;
}

.snowflake:nth-of-type(16) {
  left: 12%;
  animation-delay: 2.4s, 2.6s;
}

.snowflake:nth-of-type(17) {
  left: 18%;
  animation-delay: 2.1s, 2.3s;
}

.snowflake:nth-of-type(18) {
  left: 25%;
  animation-delay: 2.6s, 2.2s;
}

.snowflake:nth-of-type(19) {
  left: 32%;
  animation-delay: 2.3s, 2.5s;
}

.snowflake:nth-of-type(20) {
  left: 38%;
  animation-delay: 2.5s, 2.1s;
}

/* Layer 3 - Third wave (CDs 21-30) - Start after 4s with random delays */
.snowflake:nth-of-type(21) {
  left: 45%;
  animation-delay: 4.2s, 4.1s;
}

.snowflake:nth-of-type(22) {
  left: 52%;
  animation-delay: 4.5s, 4.3s;
}

.snowflake:nth-of-type(23) {
  left: 58%;
  animation-delay: 4.1s, 4.5s;
}

.snowflake:nth-of-type(24) {
  left: 65%;
  animation-delay: 4.7s, 4.2s;
}

.snowflake:nth-of-type(25) {
  left: 72%;
  animation-delay: 4.3s, 4.4s;
}

.snowflake:nth-of-type(26) {
  left: 78%;
  animation-delay: 4.4s, 4.6s;
}

.snowflake:nth-of-type(27) {
  left: 85%;
  animation-delay: 4.1s, 4.3s;
}

.snowflake:nth-of-type(28) {
  left: 92%;
  animation-delay: 4.6s, 4.2s;
}

.snowflake:nth-of-type(29) {
  left: 3%;
  animation-delay: 4.3s, 4.5s;
}

.snowflake:nth-of-type(30) {
  left: 7%;
  animation-delay: 4.5s, 4.1s;
}

/* Layer 4 - Fourth wave (CDs 31-40) - Start after 6s with random delays */
.snowflake:nth-of-type(31) {
  left: 11%;
  animation-delay: 6.2s, 6.1s;
}

.snowflake:nth-of-type(32) {
  left: 16%;
  animation-delay: 6.5s, 6.3s;
}

.snowflake:nth-of-type(33) {
  left: 20%;
  animation-delay: 6.1s, 6.5s;
}

.snowflake:nth-of-type(34) {
  left: 24%;
  animation-delay: 6.7s, 6.2s;
}

.snowflake:nth-of-type(35) {
  left: 29%;
  animation-delay: 6.3s, 6.4s;
}

.snowflake:nth-of-type(36) {
  left: 33%;
  animation-delay: 6.4s, 6.6s;
}

.snowflake:nth-of-type(37) {
  left: 37%;
  animation-delay: 6.1s, 6.3s;
}

.snowflake:nth-of-type(38) {
  left: 41%;
  animation-delay: 6.6s, 6.2s;
}

.snowflake:nth-of-type(39) {
  left: 46%;
  animation-delay: 6.3s, 6.5s;
}

.snowflake:nth-of-type(40) {
  left: 50%;
  animation-delay: 6.5s, 6.1s;
}

/* Layer 5 - Fifth wave (CDs 41-50) - Start after 8s with random delays */
.snowflake:nth-of-type(41) {
  left: 54%;
  animation-delay: 8.2s, 8.1s;
}

.snowflake:nth-of-type(42) {
  left: 59%;
  animation-delay: 8.5s, 8.3s;
}

.snowflake:nth-of-type(43) {
  left: 63%;
  animation-delay: 8.1s, 8.5s;
}

.snowflake:nth-of-type(44) {
  left: 67%;
  animation-delay: 8.7s, 8.2s;
}

.snowflake:nth-of-type(45) {
  left: 71%;
  animation-delay: 8.3s, 8.4s;
}

.snowflake:nth-of-type(46) {
  left: 76%;
  animation-delay: 8.4s, 8.6s;
}

.snowflake:nth-of-type(47) {
  left: 80%;
  animation-delay: 8.1s, 8.3s;
}

.snowflake:nth-of-type(48) {
  left: 84%;
  animation-delay: 8.6s, 8.2s;
}

.snowflake:nth-of-type(49) {
  left: 89%;
  animation-delay: 8.3s, 8.5s;
}

.snowflake:nth-of-type(50) {
  left: 93%;
  animation-delay: 8.5s, 8.1s;
}
